<template>
  <a-layout-content
    :style="{
      marginLeft: marginContentLeft,
      marginRight: marginContentRight,
      marginTop: '5rem',
      padding: 0,
      width: '88%'
    }"
    breakpoint="sm"
    @breakpoint="onBreakpoint"
  >
    <a-breadcrumb>
      <a-breadcrumb-item> {{ $route.path }} </a-breadcrumb-item>
    </a-breadcrumb>
    <router-view name="Conference" />
    <router-view name="Home" />
    <router-view name="Query" />
    <router-view name="Session" />
    <router-view name="Record" />
    <router-view name="Store" />
    <router-view name="Profile" />
    <router-view name="Setting" />
  </a-layout-content>
</template>

<script lang="ts">
import { ref } from "@vue/reactivity";
import { defineComponent } from "@vue/runtime-core";

export default defineComponent({
  setup() {
    const marginContentLeft = ref<string>("10%");
    const marginContentRight = ref<string>("10%");
    const onBreakpoint = (broken) => {
      console.log(broken);
      if (broken) {
        marginContentLeft.value = "10%";
        marginContentRight.value = "0";
      }
    };
    return {
      onBreakpoint,
      marginContentLeft,
      marginContentRight,
    };
  },
});
</script>
