<template>
  <a-layout style="min-height: 100vh;">
      <WSidebar />
      <a-layout>
        <WHeader />
        <WContent />
        <WFooter />
      </a-layout>
  </a-layout>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import WHeader from "./WHeader.vue";
import WSidebar from "./WSidebar.vue";
import WFooter from "./WFooter.vue";
import WContent from "./WContent.vue";

export default defineComponent({
  components: {
    WHeader,
    WSidebar,
    WContent,
    WFooter,
  },
});
</script>
