<template>
  <a-layout-header
    :style="{
      backgroundColor: '#fff',
      width: '85%',
      margin: '0 10%',
      padding: 0,
      position: 'fixed',
      zIndex: '1'
    }"
  >
    <a-menu v-model:selectedKeys="current" :style="{ minWidth: '100%' }">
      <a-row justify="space-between" style="background: #fff; '">
        <a-col>
          <a-popover title="About Confernce">
            <template #content>
              <p>Vuejs</p>
              <p>Author</p>
            </template>
            <a-avatar src="https://vuejs.org/images/logo.svg" style="margin: 0 2rem" />
          </a-popover>
        </a-col>
        <a-col>
          <a-dropdown>
            <a class="ant-dropdown-link" @click.prevent>
              <a-avatar src="https://mukezhz.gitlab.io/images/hero/mee.png" style="margin: 0 1rem" />
              <DownOutlined />
            </a>
            <template #overlay>
              <a-menu @click="handleMenuClick" :style="{ width: '140px' }">
                <a-menu-item key="1">
                  <a-space align="center">
                    <router-link to="profile">
                      <UserOutlined :style="iconStyle" />
                      <span :style="textStyle">Profile</span>
                    </router-link>
                  </a-space>
                </a-menu-item>
                <a-menu-item key="2">
                  <a-space align="center">
                    <router-link to="setting">
                      <SettingOutlined :style="iconStyle" />
                      <span :style="textStyle">Setting</span>
                    </router-link>
                  </a-space>
                </a-menu-item>
                <a-menu-item key="3" v-if="loggedIn">
                  <a-space align="center">
                    <router-link to>
                      <LogoutOutlined :style="iconStyle" />
                      <span :style="textStyle" @click="openMessage">Logout</span>
                    </router-link>
                  </a-space>
                </a-menu-item>
                <a-menu-item key="4" v-else>
                  <a-space align="center">
                    <router-link to="login">
                      <LogoutOutlined :style="iconStyle" />
                      <span :style="textStyle">Login</span>
                    </router-link>
                  </a-space>
                </a-menu-item>
              </a-menu>
            </template>
          </a-dropdown>
        </a-col>
      </a-row>
    </a-menu>
  </a-layout-header>
</template>
<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import {
  MailOutlined,
  AppstoreOutlined,
  SettingOutlined,
  UserOutlined,
  LogoutOutlined,
} from "@ant-design/icons-vue";
import { message } from 'ant-design-vue';
import { useStore } from 'vuex';
import { useRouter } from "vue-router";
export default defineComponent({
  setup() {
    const store = useStore();
    const router = useRouter();
    const current = ref<string[]>(["mail"]);
    const iconStyle = ref<object>({
      fontSize: "1.4rem",
      marginLeft: "1rem",
    });
    const textStyle = ref<object>({
      margin: "0.1rem",
      textAlign: "center",
      fontSize: "1rem",
    });
    const key = 'updatable';
    const openMessage = () => {
      message.loading({ content: 'Logging out...', key });
      setTimeout(() => {
        message.success({ content: 'Logged out!', key, duration: 2 });
        store.dispatch("auth/logout");
      }, 1000);
    };
    return {
      current,
      iconStyle,
      textStyle,
      loggedIn: computed(() => store.getters["auth/loggedIn"]),
      openMessage
    };
  },
  components: {
    MailOutlined,
    AppstoreOutlined,
    SettingOutlined,
    UserOutlined,
    LogoutOutlined,
  },
});
</script>
