<template>
  <a-layout-sider
    breakpoint="lg"
    v-model:collapsed="collapsed"
    collapsible
    :collapsedWidth="collapsedWidth"
    @breakpoint="onBreakpoint"
    width="160"
    :style="{
      overflow: 'auto',
      height: '100vh',
      position: 'fixed',
      left: 0,
      zIndex: '2',
    }"
  >
    <div class="logo" />
    <a-menu theme="dark" v-model:selectedKeys="selectedKeys" mode="vertical">
      <router-link to="/">
        <img src="https://vuejs.org/images/logo.svg" class="full-image" />
      </router-link>
      <a-menu-item key="1" :style="amenuItemStyle">
        <router-link to="home">
          <div>
            <HomeOutlined :style="fsize" />
            <span :style="amenuSpanStyle">Home</span>
          </div>
        </router-link>
      </a-menu-item>
      <a-menu-item key="2" :style="amenuItemStyle">
        <router-link to="stream">
          <VideoCameraOutlined :style="fsize" />
          <span :style="amenuSpanStyle">Stream</span>
        </router-link>
      </a-menu-item>
      <a-menu-item key="3" :style="amenuItemStyle">
        <router-link to="sessions">
          <user-outlined :style="fsize" />
          <span :style="amenuSpanStyle">Sessions</span>
        </router-link>
      </a-menu-item>
      <a-menu-item key="4" :style="amenuItemStyle">
        <router-link to="record">
          <PlayCircleOutlined :style="fsize" />
          <span :style="amenuSpanStyle">Record</span>
        </router-link>
      </a-menu-item>
      <a-menu-item key="5" :style="amenuItemStyle">
        <router-link to="query">
          <file-outlined :style="fsize" />
          <span :style="amenuSpanStyle">Query</span>
        </router-link>
      </a-menu-item>
      <a-menu-item key="6" :style="amenuItemStyle">
        <router-link to="store">
          <DropboxOutlined :style="fsize" />
          <span :style="amenuSpanStyle">Store</span>
        </router-link>
      </a-menu-item>
      <div :style="{ minHeight: '4rem' }"></div>
    </a-menu>
  </a-layout-sider>
</template>

<script lang="ts">
import {
  VideoCameraOutlined,
  DesktopOutlined,
  UserOutlined,
  PlayCircleOutlined,
  DropboxOutlined,
  HomeOutlined,
  FileOutlined,
} from "@ant-design/icons-vue";
import { defineComponent, ref, CSSProperties } from "vue";
export default defineComponent({
  components: {
    VideoCameraOutlined,
    DesktopOutlined,
    UserOutlined,
    PlayCircleOutlined,
    DropboxOutlined,
    HomeOutlined,
    FileOutlined,
  },
  setup() {
    const collapsedWidth = ref<number>(55);
    const collapsed = ref<boolean>(true);

    const selectedKeys = ref<string[]>(["1"]);
    const fsize = ref<object>({
      fontSize: "2rem",
    });
    const amenuItemStyle = ref<CSSProperties>({
      minHeight: "4rem",
      minWidth: "2rem",
      paddingTop: "0.8rem",
      paddingLeft: "0.8rem",
    });
    const amenuSpanStyle = ref<CSSProperties>({
      fontSize: "1.2rem",
      fontWeight: "bold",
      marginLeft: "1rem",
    });
    const onBreakpoint = (broken: any) => {
      if (broken) {
        collapsedWidth.value = 35;
        amenuItemStyle.value.paddingLeft = '0';
        amenuItemStyle.value.minWidth = "1rem";
      } else {
        collapsedWidth.value = 55;
        amenuItemStyle.value.paddingLeft = "0.8rem";
        amenuItemStyle.value.minWidth = "2rem";
      }
      amenuItemStyle.value.paddingTop = "0.8rem";
      amenuItemStyle.value.minHeight = "4rem";
      collapsed.value = true;
    };
    return {
      onBreakpoint,
      collapsed,
      selectedKeys,
      amenuSpanStyle,
      amenuItemStyle,
      fsize,
      collapsedWidth,
    };
  },
});
</script>

<style>
#components-layout-demo-side .logo {
  height: 4rem;
  margin: 5rem;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.full-image {
  width: 100%;
  height: 4rem;
  padding: 0;
}
</style>
