<template>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint">
    <a-divider orientation="left">Ticket</a-divider>
    <a-row type="flex" justify="center">
      <a-col :span="8">
        <div style="padding: 30px">
          <a-card title="Ticket" :bordered="false" style="width: 300px">
            <a-input v-model:value="value1" placeholder="Enter Username" allow-clear />

            <br />
            <br />

            <a-input v-model:value="value2" placeholder="Enter Email" allow-clear />
            <br />
            <br />

            <p>
              Pay By:
              <a-button type="link">Esewa</a-button>
              <a-button type="link">Kalthi</a-button>
            </p>
          </a-card>
        </div>
      </a-col>
    </a-row>
  </a-layout-content>
</template>

<script>
import { defineComponent, ref } from 'vue';
export default defineComponent({
  setup() {
    const value1 = ref('');
    const value2 = ref('');
    return {
      value1,
      value2,
    };
  },
});
</script>
<style>
.xyz {
  font-size: 0.6rem;
  font-family: "Cursive";
}
</style>











