<template>
  <div v-if="fetching">Loading...</div>
  <div v-else-if="error">Oh no... {{ error }}</div>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint" v-else>
    <a-divider orientation="left">About Me</a-divider>
    <a-row>
      <a-col :span="8" :xs="{ span: 24 }" :sm="{ span: 24 }" :md="{ span: 10 }" :lg="{ span: 8 }">
        <a-image
          :width="300"
          :style="{ borderRadius: '1rem' }"
          src="https://mukezhz.gitlab.io/images/hero/mee.png"
        />
      </a-col>
      <a-col
        :span="8"
        :xs="{ span: 24 }"
        :sm="{ span: 24 }"
        :md="{ span: 14 }"
        :lg="{ span: 14 }"
        :style="{ margin: '2rem 1rem' }"
      >
        <a-typography-title :level="2">{{ data.me["firstName"] }} {{ data.me["lastName"] }}</a-typography-title>
        <a-space>
          <a-typography-text :level="5">{{ data.me.userprofile.profession }}</a-typography-text>
          <a-typography-text mark>{{ data.me.userprofile.role }}</a-typography-text>
        </a-space>
        <a-row :style="{ marginTop: '3rem' }">
          <a-col>
            <a-tabs v-model:activeKey="activeKey">
              <a-tab-pane key="1" tab="Information">
                <a-divider direction="vertical" orientation="left">BASIC INFORMATION</a-divider>
                <a-typography-text>
                  This is the section where you will find basic information
                  which you have provided.
                </a-typography-text>
                <a-row :style="{ marginTop: '1rem' }">
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 12 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '1rem' }"
                  >
                    <div>
                      <a-typography-title :level="4">Full name</a-typography-title>
                    </div>
                    <div>{{ data.me.firstName }} {{ data.me.lastName }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 12 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '1rem' }"
                  >
                    <div>
                      <a-typography-title :level="4">Date of Birth</a-typography-title>
                    </div>
                    <div>{{ data.me.userprofile.dateOfBirth }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 12 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '1rem' }"
                  >
                    <div>
                      <a-typography-title :level="4">Joined Date</a-typography-title>
                    </div>
                    <div>{{ data.me.dateJoined }}</div>
                  </a-col>
                </a-row>
                <a-divider
                  direction="vertical"
                  orientation="left"
                  :style="{ marginTop: '3rem' }"
                >CONTACTS</a-divider>
                <a-typography-text>
                  This is the section where you will find your contact
                  information which you have provided.
                </a-typography-text>

                <a-row :style="{ marginTop: '1rem' }">
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 8 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="5">Username</a-typography-title>
                    </div>
                    <div>@{{ data.me.username }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 8 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="5">Email</a-typography-title>
                    </div>
                    <div>{{ data.me.email }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 8 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="5">Address</a-typography-title>
                    </div>
                    <div>{{ data.me.userprofile["city"] }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 8 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="5">Country</a-typography-title>
                    </div>
                    <div>{{ data.me.userprofile.country }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 8 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="5">Phone No.</a-typography-title>
                    </div>
                    <div>{{ data.me.userprofile.mobilePhone }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 8 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="5">Gender</a-typography-title>
                    </div>
                    <div>{{ data.me.userprofile.gender }}</div>
                  </a-col>
                </a-row>
              </a-tab-pane>
              <a-tab-pane key="2" tab="Interest" force-render>
                <a-divider direction="vertical" orientation="left">DOMAIN</a-divider>
                <a-typography-text>
                  Computer science is the study of algorithmic processes,
                  computational machines and computation itself. As a
                  discipline, computer science spans a range of topics from
                  theoretical studies of algorithms, computation and information
                  to the practical issues of implementing computational systems
                  in hardware and software.
                </a-typography-text>
                <a-row :gutter="[8, 2]" :style="{ marginTop: '2rem' }">
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 12 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="4">Interest</a-typography-title>
                    </div>
                    <div>{{ data.userInterests }}</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 12 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="4">Hobbies</a-typography-title>
                    </div>
                    <div>07/02/2000</div>
                  </a-col>
                  <a-col
                    :span="8"
                    :xs="{ span: 24 }"
                    :sm="{ span: 24 }"
                    :md="{ span: 12 }"
                    :lg="{ span: 8 }"
                    :style="{ marginTop: '0.5rem' }"
                  >
                    <div>
                      <a-typography-title :level="4">Joined Date</a-typography-title>
                    </div>
                    <div>14/03/2021</div>
                  </a-col>
                </a-row>
              </a-tab-pane>
              <a-tab-pane key="3" tab="Ticket">
                <a-divider direction="vertical" orientation="left">YOUR TICKET</a-divider>

                <a-typography-title :level="5" :style="marginTicket">
                  Ticket 1:
                  <a-typography-text type="secondary">Conference1</a-typography-text>
                </a-typography-title>
                <a-typography-title :level="5" :style="marginTicket">
                  Ticket 2:
                  <a-typography-text type="secondary">Conference2</a-typography-text>
                </a-typography-title>
                <a-typography-title :level="5" :style="marginTicket">
                  Ticket 3:
                  <a-typography-text type="secondary">Conference2</a-typography-text>
                </a-typography-title>
              </a-tab-pane>
            </a-tabs>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
  </a-layout-content>
</template>
<script lang="ts">
import { useQuery } from "@urql/vue";
import { ref, defineComponent, CSSProperties, computed } from "vue";
import { useRouter } from "vue-router";
import { GET_MY_PROFILE } from '../../graphql/gql';
export default defineComponent({
  setup() {
    const activeKey = ref<string>("1");
    const marginTicket = ref<CSSProperties>({ marginLeft: "0.5rem" });
    const onBreakpoint = (broken: any) => {
      console.log(broken);
    };
    const result = useQuery({
      query: GET_MY_PROFILE
    });
    const router = useRouter();

    return {
      activeKey,
      onBreakpoint,
      marginTicket,
      fetching: result.fetching,
      data: result.data,
      error: result.error,
    };
  },
});
</script>
