<template>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint">
    <a-divider orientation="left">About Me</a-divider>
    <a-row>
      <a-col :span="8" :xs="{ span: 24 }" :sm="{ span: 24 }" :md="{ span: 10 }" :lg="{ span: 8 }">
        <a-image
          :width="300"
          :style="{ borderRadius: '1rem' }"
          src="https://mukezhz.gitlab.io/images/hero/mee.png"
        />
      </a-col>
      <a-col
        :span="8"
        :xs="{ span: 24 }"
        :sm="{ span: 24 }"
        :md="{ span: 14 }"
        :lg="{ span: 14 }"
        :style="{ margin: '2rem 1rem' }"
      >
        <a-typography-title :level="2">Mukesh Kr. Chaudhary</a-typography-title>
        <a-space>
          <a-typography-text :level="5">Engineering Student</a-typography-text>
          <a-typography-text mark>Learner</a-typography-text>
        </a-space>
        <a-row :style="{ marginTop: '3rem' }">
          <a-col>
            <a-tabs v-model:activeKey="activeKey">
              <a-tab-pane key="1" tab="Information">
                <a-divider direction="vertical" orientation="left">BASIC INFORMATION</a-divider>
                <a-typography-text :style="{ overflow: 'hidden' }">
                  This is the section where you will find basic information
                  which you have provided.
                </a-typography-text>
                <InformationForm />
              </a-tab-pane>
              <a-tab-pane key="2" tab="Contacts" force-render>
                <a-divider direction="vertical" orientation="left">CONTACTS</a-divider>
                <a-typography-text>
                  This is the section where you will find your contact
                  information which you have provided.
                </a-typography-text>
                <ContactForm />
              </a-tab-pane>
            </a-tabs>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
  </a-layout-content>
</template>
<script lang="ts">
import { ref, defineComponent, CSSProperties } from "vue";
import InformationForm from "../../components/Setting/BasicInformationForm.vue";
import ContactForm from "../../components/Setting/ContactForm.vue";
export default defineComponent({
  setup() {
    const activeKey = ref<string>("1");
    const marginTicket = ref<CSSProperties>({ marginLeft: "0.5rem" });
    const onBreakpoint = (broken: any) => {
      console.log(broken);
    };
    return {
      activeKey,
      onBreakpoint,
      marginTicket,
    };
  },
  components: { InformationForm, ContactForm }
});
</script>
