<template>
    <a-form :label-col="labelCol" :wrapper-col="wrapperCol" layout="vertical">
        <a-form-item label="First Name" v-bind="validateInfos['name.firstname']">
            <a-input v-model:value="inputFieldRef.name.firstname" />
        </a-form-item>
        <a-form-item label="Last Name" v-bind="validateInfos['name.lastname']">
            <a-input v-model:value="inputFieldRef.name.lastname" />
        </a-form-item>
        <a-form-item label="Date of Birth" v-bind="validateInfos.dateofbirth">
            <a-date-picker v-model:value="inputFieldRef.dateofbirth" />
        </a-form-item>
        <a-form-item :wrapper-col="{ span: 24 }">
            <a-button type="primary" @click.prevent="onSubmit">Create</a-button>
            <a-button style="margin-left: 10px" @click="reset">Reset</a-button>
        </a-form-item>
    </a-form>
</template>
<script lang="ts">
import { defineComponent, reactive, toRaw, ref } from 'vue';
import { Form } from 'ant-design-vue';
import moment from 'moment';
const useForm = Form.useForm;
export default defineComponent({
    setup() {
        const dateFormat: string = 'YYYY-MM-DD';
        const inputFieldRef = reactive({
            name: {
                firstname: 'Mukesh Kr.',
                lastname: 'Chaudhary',
            },
            dateofbirth: moment('2015-06-06', dateFormat)
        });
        const { resetFields, validate, validateInfos } = useForm(
            inputFieldRef,
            reactive({
                'name.firstname': [
                    {
                        required: true,
                        message: 'Please input first name',
                    },
                ],
                'name.lastname': [
                    {
                        required: true,
                        message: 'Please input last name',
                    }
                ],
                dateofbirth: [
                    {
                        required: true,
                        message: 'Please input date of birth',
                    }
                ],
            }),
        );
        const onSubmit = () => {
            validate()
                .then(res => {
                    console.log(res, toRaw(inputFieldRef));
                })
                .catch(err => {
                    console.log('error', err);
                });
        };
        const reset = () => {
            resetFields();
        };
        return {
            labelCol: { span: 12 },
            wrapperCol: { span: 12 },
            validateInfos,
            reset,
            inputFieldRef,
            onSubmit,
        };
    },
});
</script>
