<template>
  <a-form :label-col="labelCol" :wrapper-col="wrapperCol" layout="vertical">
    <a-form-item label="Phone Number" v-bind="validateInfos.phone">
      <a-input v-model:value="contactRef.phone" />
    </a-form-item>
    <a-form-item label="Address" v-bind="validateInfos.address">
      <a-input v-model:value="contactRef.address" />
    </a-form-item>
    <a-form-item label="Country" v-bind="validateInfos.country">
      <a-input v-model:value="contactRef.country" />
    </a-form-item>
    <a-form-item label="Role" v-bind="validateInfos.role">
      <a-select
        ref="select"
        v-model:value="selectValue"
        style="width: 120px"
        :options="selectOptions"
        @focus="focus"
        @change="handleChange"
      ></a-select>
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 24 }">
      <a-button type="primary" @click.prevent="onSubmit">Create</a-button>
      <a-button style="margin-left: 10px" @click="reset">Reset</a-button>
    </a-form-item>
  </a-form>
</template>
<script lang="ts">
import { defineComponent, reactive, toRaw, ref } from "vue";
import { Form } from "ant-design-vue";
import { SelectTypes } from 'ant-design-vue/es/select';

const useForm = Form.useForm;
export default defineComponent({
  setup() {
    const selectOptions = ref<SelectTypes['options']>([
      {
        value: 'learner',
        label: 'Learner',
      },
      {
        value: 'professor',
        label: 'Professor',
      },
    ]);
    const selectValue = ref<string>('learner')
    const handleChange = (value: string) => {
      console.log(`selected ${value}`);
    };
    const contactRef = reactive({
      phone: 9860898025,
      address: "Maharajgunj",
      country: "Nepal",
      role: "Learner",
    });
    const { resetFields, validate, validateInfos } = useForm(
      contactRef,
      reactive({
        phone: [
          {
            required: true,
            message: "Please input phone number",
          },
        ],
        address: [
          {
            required: true,
            message: "Please input address",
          },
        ],
        country: [
          {
            required: true,
            message: "Please input country",
          },
        ],
        role: [
          {
            required: true,
            message: "Please input role",
          },
        ],
      })
    );
    const onSubmit = () => {
      validate()
        .then((res) => {
          console.log(res, toRaw(contactRef));
        })
        .catch((err) => {
          console.log("error", err);
        });
    };
    const reset = () => {
      resetFields();
    };
    return {
      labelCol: { span: 12 },
      wrapperCol: { span: 12 },
      validateInfos,
      reset,
      contactRef,
      onSubmit,
      selectValue,
      handleChange,
      selectOptions
    };
  },
});
</script>
