<h1>Welcome to the Connecting Student</h1>

<h3>{{ site_name }}</h3>

<p>Hello {{ user.username }}!</p>

<p>Please activate your account on the link:</p>

<p>{{ protocol }}://{{ domain }}/{{ path }}/{{ token }}</p>
