<template>
  <a-divider orientation="left">Class</a-divider>

  <h1>Live.</h1>
  <a-row type="flex">
    <a-col flex="1 1 65%">
      <video width="800" controls>
        <source src="mov_bbb.mp4" type="video/mp4" />
        <source src="mov_bbb.ogg" type="video/ogg" />.
      </video>
    </a-col>
    <a-col flex="0 1 35%">
      <div class="container">
        <h2>chat</h2>
        <form>
          <textarea placeholder="Add Your Comment"></textarea>

          <input type="submit" value="Comment" />
          <button id="clear">Cancel</button>
        </form>
      </div>
    </a-col>
  </a-row>
</template>

<style>
textarea {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
}

input[type="submit"],
button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"] {
  color: #fff;
  background-color: #273c75;
}

button {
  color: white;
  background-color: red;
}

.btn {
}

.ccontainer{

width: 100%;
  
}
</style>


 