<template>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint">
    <a-divider orientation="left">Welcome TO CS</a-divider>
    <a-row>
      <a-col :span="8" :xs="{ span: 24 }" :sm="{ span: 24 }" :md="{ span: 14 }" :lg="{ span: 10 }">
        <a-image
          width="90%"
          height="100%"
          :style="{ borderRadius: '1rem' }"
          src="/static/img/hplogo.jpeg"
        />
      </a-col>
      <a-col :span="8" :xs="{ span: 24 }" :sm="{ span: 24 }" :md="{ span: 24 }" :lg="{ span: 12 }">
        <a-typography-title :level="2">
          <p class="title">Welcome to Home page of CS</p>
        </a-typography-title>
        <a-space>
          <a-typography-text :level="8">
            <p class="para">
              CS is a platform which helps to connect interested learners with their particular expertise. This application will enhance learners knowledge about real world problems and also help them to acquire skills sets provided by the
              professionals. This application basically connects the students with the professionals. The application will be hosted in youtube or any other streaming platform as a private stream and will only be accessed by using our streaming website.
              By using the project students can ask questions to the professionals so that they can gain knowledge about the actual working environment. students all around the globe can interact with professionals.
              As we know guidance from the professionals are important for the students to develop careers in their respective fields. Using this platform, students can get help from professionals in different domains and solve their problems.
            </p>
            <div>
              <router-link to="sessions">
                <button type="button">Get Ticket!</button>
              </router-link>
            </div>
          </a-typography-text>
        </a-space>
      </a-col>
    </a-row>
  </a-layout-content>
</template>
<script lang="ts">

</script>

<style>
.title {
  font-family: Fantasy;
}
</style>

