<template>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint">
    <a-divider orientation="left">Welcome</a-divider>

    <div class="image">
      <a-image src="/static/img/hplogo.jpeg" />
    </div>
    <div class="text">
      <h1>CS</h1>
      <h4>Connecting The Students</h4>
      <h3>Platfrom where you meet your Idol professionals</h3>

      <router-link to="home">
        <button class="btn">Visit Home</button>
      </router-link>

      <router-link to="sessions">
        <button class="btn">Events</button>
      </router-link>
    </div>
  </a-layout-content>
</template>

<script>

</script>

<style>
.text {
  width: 100%;
  margin-top: auto;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.text h4 {
  font-size: 8px;
  font-family: "open sans", sans-serif;
}
.text h1 {
  font-size: 50x;
  font-family: "montserrat", sans-serif;
  font-weight: 700px;
  margin: 14px 0px;
}
.text h3 {
  font-size: 15px;
  font-family: "Cursive";
}

.btn {
  background-color: rgba(255, 255, 255, 0.164);
  color: rgb(3, 0, 0);
  font-family: "montserrat", sans-serif;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  margin-top: 25px;
  border: 3px solid rgb(7, 7, 7);
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: rgb(164, 199, 238);
}

.image {
  width: 10%;
  height: 18%;

  border-radius: 1 rem;

  margin-left: auto;
  margin-right: auto;
  display: block;
}
</style>