<template>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint">
    <a-divider orientation="left">Give us your Queries</a-divider>
    <a-row>
      <a-col :span="8" :xs="{ span: 24 }" :sm="{ span: 24 }" :md="{ span: 12 }" :lg="{ span: 8 }">
        <router-link to="home">
          <a-image :width="50" :style="{ borderRadius: '1rem' }" src="/static/img/hplogo.jpeg" />
        </router-link>
      </a-col>
      <a-col
        :span="8"
        :xs="{ span: 24 }"
        :sm="{ span: 24 }"
        :md="{ span: 12 }"
        :lg="{ span: 14 }"
        :style="{ margin: '2rem 1rem' }"
      >
        <a-typography-title :level="2">
          <p class="title">Query Section</p>
        </a-typography-title>
        <a-space>
          <a-typography-text :level="8">
            <p class="query">
              Hello!!!
              Guys here you can leave us your queries about what kind of professionals you need.
              let us know about your need and we will hire accordingly.
            </p>

            <div class="container">
              <form>
                <p>Give us your Query</p>
                <textarea
                  class="textarea"
                  id="textarea"
                  name="write your query"
                  row="4"
                  cols="37"
                  maxlength="1000"
                  minlength="10"
                  placeholder="write your Query"
                ></textarea>
                
                <router-link to="home">
                  <input type="submit" value="sumbit" />
                </router-link>
                <button id="clear">Cancel</button>
              </form>
            </div>
          </a-typography-text>
        </a-space>
      </a-col>
    </a-row>
  </a-layout-content>
</template>
<script lang="ts">


import { defineComponent, ref } from 'vue';
export default defineComponent({
  setup() {
    const value = ref<string>('');

    const onSearch = (searchValue: string) => {
      console.log('use value', searchValue);
      console.log('or use this.value', value.value);
    };

    return {
      value,
      onSearch,
    };
  },
});



</script>
<style>
.title {
  font-family: Fantasy;
}

.query {
  font-size: 1rem;
  font-family: monospace;
}

.container {
  width: 75%;
  border: 2px solid #333;
  padding: 15px 10px;
}

input[type="submit"],
button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn {
}

input::placeholder {
  color: rgb(19, 17, 17);
  font-size: 1.2em;
  font-style: italic;

  width: 90%;
  height: 90%;
}
.textarea {
  margin: 5px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
</style>









