<template>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint">
    <a-divider orientation="left">Records</a-divider>
    <p class="xy">Here you can search Record of the Previous Recorded Class</p>

    <div>
      <a-input-search
        v-model:value="value"
        placeholder="search"
        style="width: 200px"
        @search="onSearch"
      ></a-input-search>
    </div>

    <div style="background-color: #ececec; padding: 10px">
      <a-row :gutter="16">
        <a-col :span="6">
          <a-card title="Card title" :bordered="false" :style="{ width: 'auto%' }">
            <a-card hoverable :style="{ width: '100%' }">
              <template #cover>
                <img alt="example" src="/static/img/guru.jpeg" />
              </template>
              <a-card-meta title="CN">
                <template #description>Jan 3</template>
              </a-card-meta>
            </a-card>
          </a-card>
        </a-col>
        <a-col :span="6">
          <a-card title="Card title" :bordered="false" :style="{ width: 'auto' }">
            <a-card hoverable :style="{ width: '100%' }">
              <template #cover>
                <img alt="example" src="/static/img/guru.jpeg" />
              </template>
              <a-card-meta title="AI">
                <template #description>Jan 6</template>
              </a-card-meta>
            </a-card>
          </a-card>
        </a-col>
        <a-col :span="6">
          <a-card title="Card title" :bordered="false" :style="{ width: 'auto' }">
            <a-card hoverable :style="{ width: '100%' }">
              <template #cover>
                <img alt="example" src="/static/img/guru.jpeg" />
              </template>
              <a-card-meta title="Java">
                <template #description>Jan 9</template>
              </a-card-meta>
            </a-card>
          </a-card>
        </a-col>

        <a-col :span="6">
          <a-card title="Card title" :bordered="false" :style="{ width: 'auto' }">
            <a-card hoverable :style="{ width: '100%' }">
              <template #cover>
                <img alt="example" src="/static/img/guru.jpeg" />
              </template>
              <a-card-meta title="WT">
                <template #description>Jan 12</template>
              </a-card-meta>
            </a-card>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </a-layout-content>
</template>

<script>
import { defineComponent, ref } from 'vue';
export default defineComponent({
  setup() {
    const value = ref('');

    const onSearch = searchValue => {
      console.log('use value', searchValue);
      console.log('or use this.value', value.value);
    };

    return {
      value,
      onSearch,
    };
  },
});
</script>

<style>
.xy {
  font-size: 1rem;
  color: black;
  text-align: center;
}
</style>