<template>
  <a-layout-content breakpoint="lg" @breakpoint="onBreakpoint">
    <a-divider orientation="left">Sessions</a-divider>
    
    <p class="session">

        This is the Session page. Here you can get to know about the
      Upcoming Events, Past Events that were conducted and you can book your 
      respective Event as well. And Suggest any Event you want us to Organize from 
      'Suggest Event' section.

    </p>

    <a-tabs v-model:activeKey="activeKey">
      <a-tab-pane key="1" tab="Upcoming events">
        <a-row>
          <a-col span="8" height="50%">
            <a-card hoverable class="card">
              <template #cover>
                <img alt="example" src="/static/img/guru.jpeg" />
              </template>
              <a-card-meta title="ML guru ">
                <template #description>October-4</template>
              </a-card-meta>
            </a-card>
          </a-col>
        </a-row>
      </a-tab-pane>

      <a-tab-pane key="2" tab="Past Event" force-render>
        <a-row>
          <a-col span="8" height="50%">
            <a-card hoverable :style="{ width: '40%' }">
              <template #cover>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
              </template>
              <a-card-meta title="Europe Street beat">
                <template #description>www.instagram.com</template>
              </a-card-meta>
            </a-card>
          </a-col>
        </a-row>
      </a-tab-pane>

      <a-tab-pane key="3" tab="Suggest Events">
        <div>
          <router-link to="query">
            <input type="button" class="btn" value="Suggest" />
          </router-link>
        </div>
      </a-tab-pane>
    </a-tabs>
  </a-layout-content>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  setup() {
    return {
      activeKey: ref('1'),
    };
  },
});
</script>

<style>
.btn {
  color: black;
}

.card {
  width: 40%;
  height: auto;
  border: none;
}

.session {
  font-size: 1rem;
  color: black;
  text-align: center;
}


</style>

