<template>
    <div v-if="fetching">Loading...</div>
    <div v-else-if="error">Oh no... {{ error }}</div>
    <div v-else>
        <ul v-if="data">
            {{ data }}
            <li v-for="info in data" :key="info.key">{{ info.id }}</li>
        </ul>
    </div>
</template>

<script>
import { useQuery } from '@urql/vue';
import { useRouter } from 'vue-router';

import { GET_MY_PROFILE } from '../graphql/gql';
export default {
    setup() {
        const result = useQuery({
            query: GET_MY_PROFILE
        });
        const router = useRouter();
        return {
            fetching: result.fetching,
            data: result.data,
            error: result.error,
        };
    }
};
</script>