<template>
    <H1>CS Login</H1>
    <a-form
        layout="inline"
        :model="formState"
        @finish="handleFinish"
        @finishFailed="handleFinishFailed"
    >
        <a-form-item>
            <a-input v-model:value="formState.user" placeholder="Username">
                <template #prefix>
                    <UserOutlined style="color: rgba(0, 0, 0, 0.25)" width="100%" />
                </template>
            </a-input>
        </a-form-item>
        <a-form-item>
            <a-input v-model:value="formState.password" type="password" placeholder="Password">
                <template #prefix>
                    <LockOutlined style="color: rgba(0, 0, 0, 0.25)" />
                </template>
            </a-input>
        </a-form-item>
        <a-form-item>
            <a-button
                type="primary"
                html-type="submit"
                :disabled="formState.user === '' || formState.password === ''"
            >Log in</a-button>
        </a-form-item>
    </a-form>
    <!-- <p>{{ formState.user }} {{ formState.password }}</p> -->
</template>
<script lang="ts">
import { UserOutlined, LockOutlined } from '@ant-design/icons-vue';
import { defineComponent, reactive, computed } from 'vue';
import { useRouter } from 'vue-router'
import { useStore } from "vuex";

export default defineComponent({
    setup() {
        const router = useRouter()
        const store = useStore()
        const formState = reactive({
            user: '',
            password: '',
        });
        if (store.getters["auth/loggedIn"]) {
            router.push("home");
        }
        console.log(store);

        const handleFinish = async () => {
            const username = formState.user;
            const password = formState.password;
            try {
                const res = await store.dispatch("auth/login", { username, password })
                if (res.token) {
                    router.push("home");
                }
            } catch (err) {
                console.log("login", err);

            }
        }

        const handleFinishFailed = errors => {
            console.log(errors);
        };
        return {
            formState,
            handleFinish,
            handleFinishFailed,
            loggedIn: computed(() => (store.getters["auth/loggedIn"]))
        }
    },
    components: {
        UserOutlined,
        LockOutlined,
    },
});
</script>

<style>
</style>
