<template>
    <a-form layout="vertical" :model="formState">
        <a-form-item label="Enter Username" v-bind="validateInfos.username">
            <a-input v-model:value="formState.username" />
        </a-form-item>
        <a-form-item label="Enter Email" v-bind="validateInfos.email">
            <a-input type="email" v-model:value="formState.email" />
        </a-form-item>
        <a-form-item label="Enter Password" v-bind="validateInfos.password2">
            <a-input type="password" v-model:value="formState.password1" />
        </a-form-item>
        <a-form-item label="Confirm Password" v-bind="validateInfos.password2">
            <a-input type="password" v-model:value="formState.password2" />
        </a-form-item>
        <a-form-item :wrapper-col="{ span: 24 }">
            <a-button type="primary" @click.prevent="onSubmit">Create</a-button>
            <a-button style="margin-left: 10px" @click="reset">Reset</a-button>
        </a-form-item>
    </a-form>
</template>
<script lang="ts">
import { defineComponent, reactive, computed } from "vue";
import { Form } from "ant-design-vue";
import { ValidateErrorEntity } from 'ant-design-vue/es/form/interface';
import { useStore } from "vuex";

interface FormState {
    username: string;
    email: string;
    password1: string;
    password2: string;
}

const useForm = Form.useForm;
export default defineComponent({
    setup() {
        const store = useStore();
        const formState = reactive<FormState>({
            username: '',
            email: '',
            password1: '',
            password2: ''
        });

        const { resetFields, validate, validateInfos } = useForm(
            formState,
            reactive({
                username: [
                    {
                        required: true,
                        message: "Please enter username (min 4 character)",
                        min: 4,
                        trigger: 'blur'
                    },
                ],
                email: [
                    {
                        required: true,
                        message: "Please enter email (Enter your email properly)",
                        type: "email",
                        trigger: 'blur'
                    },
                ],
                password1: [
                    {
                        required: true,
                        message: "Please enter same password",
                        trigger: 'blur',
                    },
                ],
                password2: [
                    {
                        required: true,
                        message: "Please enter same password",
                        validator(rule, value) {
                            return new Promise((res, rej) => {
                                if (value.length < 8) {
                                    console.log(value.length);
                                    rule.message = "Enter atleast 8 character"
                                    return rej(rule)
                                }
                                if (value !== formState.password1) {
                                    rule.message = "Password didn't match"
                                    return rej(rule)
                                }
                                res(rule)
                            })
                        },
                        trigger: 'blur'
                    },
                ],
            })
        );
        const onSubmit = () => {
            validate()
                .then((res) => {
                    store.dispatch('auth/register', res)
                })
                .catch((err) => {
                    console.log("error", err);
                });
        };
        const reset = () => {
            resetFields();
        };
        return {
            validateInfos,
            reset,
            onSubmit,
            formState,
            registerError: computed(() => store.getters["auth/registerError"]),
            user: computed(() => store.getters["auth/user"]),
        };
    },
});
</script>
